.accordion-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: transparent;
  gap: 5px;
}

.accordion-section-header {
  display: flex;
  background-color: #e9e9e9;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.accordion-title {
  font-size: 17px;
  font-weight: bold;
  width: 80%;
  cursor: pointer;

  padding: 5px;
  text-align: left;
}

.material-symbols-rounded {
  cursor: pointer;

  &.flipped {
    transform: rotate(180deg);
  }
}

.accordion-contents {
  max-height: 0px;
  overflow: hidden;
  background-color: rgb(250, 250, 250);

  &.open {
    transition: max-height 1s ease-in-out;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 9999px;
    overflow-x: hidden;
    padding: 15px;
    border-radius: 10px;
  }
}
