.accordion-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: transparent;
  border-radius: 15px;
  margin-left: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.accordion-section-header {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.accordion-title {
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  cursor: pointer;

  padding: 5px;
  text-align: center;
}

.material-symbols-rounded {
  cursor: pointer;

  &.flipped {
    transform: rotate(180deg);
  }
}

.accordion-contents {
  display: none;

  &.open {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 9999px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 15px;
  }
}
