.tag-container {
  border: transparent;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 3px 10px;
  min-width: fit-content;

  &.clickable {
    &:hover {
      cursor: pointer;
    }

    &.selected {
      background-color: darkgray;
    }
  }
}
