@import "../../styles/variables";

.navigation-container {
  display: flex;
  width: 100vw;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-right: 0;
}

.logo-png {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.nav-links-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  width: 40vw;
  margin-left: 4rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: $secondary-font;
  font-weight: none;

  &:hover {
    cursor: pointer;
    color: gray;
  }

  &.active {
    font-weight: 800;
  }
}

.nav-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 80px;
  cursor: pointer;
  font-family: $primary-font;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0069d9;
  }

  &.active {
    background-color: lightgray;
    cursor: default;
  }

  &.loggedin {
    background-color: transparent;
    color: black;
  }
}
