.explore-card-container {
  width: 45%;
  height: 300px;
  border: 1px solid black;
  padding: 20px;

  border: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.explore-card-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save-icon {
  &:hover {
    cursor: pointer;
  }

  &.saved {
    .material-symbols-outlined {
      font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 48;
    }
  }
}

.explore-card-tags-container {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  max-height: 50px;
}

.address-link {
  color: rgb(133, 201, 224);
  font-size: 13px;
}

.explore-card-tags-container::-webkit-scrollbar {
  display: none;
}

.explore-card-tags-container:hover::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.explore-card-tags-container:hover::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
